table {
    border-collapse: collapse;
}
th{
    background-color: #018786;
    padding: 2rem;
    border: 3px solid #30435C;

}
td{
    background-color: #3b9bb0;
    padding: 1rem;
    border: 3px solid #30435C;
}
input {
    background-color: #76c4cd;
    color: black;
}